* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'roboto', sans-serif;
}
.main {
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-size: 20px;
    justify-content: center;
    color: #333;
    background-color: #f1f1f1;
    font-family: sans-serif;
    border-radius: 5px; 
    margin: 0 auto;

}
#text { 
    font-size: 100px;
    font-weight: 700;
    margin: 40px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    border: 2px solid rgb(208, 208, 208);
    font-size: 20px;
    font-weight: 700;
    margin: 0 10px;
    cursor: pointer;
}
button:hover {
    background-color: #f1f1f1;
    box-shadow: inset 0px 0px 4px 1px rgb(199, 199, 199);
    color: #333;
}